.vim-button {
  margin: 0;
  padding: 0 1rem;
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  background: white;
  border: solid 1px rgb(200, 200, 200);
  border-radius: 3px;
  color: rgb(100, 100, 100);
  outline: 1px;
  box-sizing: content-box;
  cursor: pointer;
  text-align: center;
  font-size: 0.9rem;

  span {
    display: inline-block;
    line-height: 1rem;
  }

  &:hover {
    border: 1px solid orange;
    background: orange;
    color: white;
  }
}