@import "../../asserts/style/variable";

.home-wrapper {
  display: flex;
  margin: 0 auto 2rem auto;
  min-width: 1024px;
  max-width: 1300px;
  min-height: calc(100vh - 114px);

  .home-left-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 220px;
  }

  .home-content-wrapper {
    flex-grow: 8;
    flex-shrink: 8;
    min-width: 870px;

    .create-new {
      margin: 0 0 15px 0;
      width: 100%;
      border: $border;
      text-align: center;
      line-height: 50px;
      font-size: 18px;
      cursor: pointer;

      &:hover {
        background: aliceblue;
      }
    }
  }

  .home-right-wrapper {
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 220px;
    padding: 80px 15px;
    box-sizing: border-box;

    .item {
      cursor: pointer;
      color: #8c8c8c;
    }
  }
}

.pop-over {
  max-width: 500px;
}

.pop-style {
  line-height: 30px;
  height: 30px;
}
