@import "../../asserts/style/variable";

.header {
  position: relative;
  background: white;
  height: 60px;
  box-sizing: border-box;
  box-shadow: $shadow;

  .wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 14px;
    height: 100%;
    max-width: 1300px;

    .logo {
      line-height: 32px;
      cursor: pointer;
    }

    .header-option {
      display: flex;
      justify-content: space-between;
      min-width: 300px;

      .item {
      }
      .option-status {
        margin: auto 5px;
        line-height: 32px;
      }

      .model-setting {
        height: 32px;
      }
    }

  }
}
