body {
  background: #fafafa;
}

.App {
  text-align: center;
  background: #fafafa;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-right-width: 1px !important;
}
