@import '~antd/dist/antd.css';

.App {
  text-align: center;
}



.App-header .logo {
  line-height: 30px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-input:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-right-width: 1px !important;
}

.header-option {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

.option-status {
  line-height: 30px;
}
